.banner-container {
  width: 100%;
  background-color: #ffffff;
  height: 77px;
  border-bottom: none;
  box-shadow: 0 1px 2px #edecec; }
  .banner-container .nav-cont {
    min-width: 1200px;
    margin: 0 50px; }
    .banner-container .nav-cont .logo-info {
      width: 500px; }
      .banner-container .nav-cont .logo-info .logo-pos {
        width: 120px;
        height: 62px;
        float: left;
        background-image: url("../images/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15px; }
    .banner-container .nav-cont .nav-menu li {
      float: left;
      margin-right: 200px; }
      .banner-container .nav-cont .nav-menu li a {
        display: block;
        line-height: 77px;
        color: #4D555D;
        width: 72px;
        text-align: center; }
      .banner-container .nav-cont .nav-menu li a:hover {
        background-color: #F5F6F6; }
    .banner-container .nav-cont .nav-login-ul {
      display: flex;
      justify-content: space-between; }
      .banner-container .nav-cont .nav-login-ul li {
        margin-right: 10px; }
        .banner-container .nav-cont .nav-login-ul li a, .banner-container .nav-cont .nav-login-ul li span {
          display: block;
          line-height: 77px;
          color: #4D555D;
          text-align: center; }
    .banner-container .nav-cont .after-login {
      /*display: flex;
      align-items: center;*/
      height: 77px; }
      .banner-container .nav-cont .after-login .news-cont {
        margin: 0 20px 0 30px;
        position: relative; }
        .banner-container .nav-cont .after-login .news-cont img {
          width: 24px;
          display: block; }
        .banner-container .nav-cont .after-login .news-cont .news-hint-box {
          position: absolute;
          top: 0;
          right: -5px;
          content: '';
          width: 8px;
          height: 8px;
          display: block;
          border-radius: 4px;
          background-color: #F20D0D; }
      .banner-container .nav-cont .after-login .user-head-portrait {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .banner-container .nav-cont .after-login .user-head-portrait:hover .user-nav-box {
          display: block; }
        .banner-container .nav-cont .after-login .user-head-portrait .head-img-box {
          width: 44px;
          height: 44px;
          border: 2px solid rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 2px 6px 0 rgba(20, 14, 32, 0.28); }
          .banner-container .nav-cont .after-login .user-head-portrait .head-img-box img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%; }
        .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box {
          background-color: #ffffff;
          position: absolute;
          width: 330px;
          top: 76px;
          right: 0;
          border-radius: 0 0 8px 8px;
          display: none;
          z-index: 20;
          box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2); }
          .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-img {
            position: absolute;
            top: -15px;
            width: 20px;
            height: 16px;
            right: 12px; }
          .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont {
            margin: 0 20px;
            padding: 20px 0; }
            .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav {
              margin: 20px 0 28px 0;
              border-bottom: 1px solid #E7E7E7; }
              .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav .u-com-ul {
                margin-left: -10px;
                padding-left: 0 !important; }
                .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav .u-com-ul li {
                  float: left;
                  width: 140px;
                  height: 32px;
                  margin-left: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 10px;
                  background-color: #f5f6f6; }
                  .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav .u-com-ul li:hover {
                    background: #ededed; }
                  .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav .u-com-ul li a {
                    font-size: 12px;
                    color: #4D555D; }
                    .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav .u-com-ul li a img {
                      width: 16px;
                      margin-right: 10px; }
                    .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .u-com-nav .u-com-ul li a span {
                      line-height: 12px; }
            .banner-container .nav-cont .after-login .user-head-portrait .user-nav-box .user-nav-cont .log-out {
              display: block;
              font-size: 12px;
              color: #4D555D; }
    .banner-container .nav-cont .nav-r-wrap {
      display: flex;
      align-items: center; }
      .banner-container .nav-cont .nav-r-wrap .search-box {
        width: 220px;
        margin-right: 22px; }
        .banner-container .nav-cont .nav-r-wrap .search-box .search-nav-icon {
          height: 32px;
          width: 32px;
          position: relative; }
          .banner-container .nav-cont .nav-r-wrap .search-box .search-nav-icon .search-nav-icon-i {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/search.png");
            background-repeat: no-repeat;
            cursor: pointer; }
        .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b {
          position: relative; }
          .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-h-ip {
            width: 188px;
            height: 32px;
            font-size: 14px;
            outline: none;
            border: none;
            color: #9c713b;
            background-color: #fff;
            display: none; }
          .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi {
            position: absolute;
            width: 240px;
            left: 0;
            top: 54px;
            box-sizing: border-box;
            box-shadow: 0 8px 16px 0 #9c713b;
            border-radius: 0 0 8px 8px;
            padding: 10px 0 4px 0;
            background-color: #fff;
            display: none; }
            .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-hot-d {
              padding: 0 12px 10px 12px; }
              .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-hot-d .search-hot-p {
                font-size: 12px;
                line-height: 12px;
                font-weight: 400; }
              .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-hot-d .search-hot-list {
                margin-top: 10px; }
                .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-hot-d .search-hot-list a {
                  display: block;
                  background: rgba(84, 92, 99, 0.1);
                  padding: 4px 12px;
                  margin-right: 4px;
                  color: #787d82;
                  font-size: 12px;
                  font-weight: 400;
                  border-radius: 12px;
                  margin-bottom: 5px; }
            .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-latest-d {
              padding: 12px; }
              .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-latest-d .search-latest-p {
                font-size: 12px;
                line-height: 12px;
                font-weight: 400; }
              .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-latest-d .search-latest-list {
                margin-top: 10px; }
                .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-hi .search-latest-d .search-latest-list a {
                  display: block;
                  background: rgba(84, 92, 99, 0.1);
                  padding: 4px 12px;
                  margin-right: 4px;
                  color: #787d82;
                  font-size: 12px;
                  font-weight: 400;
                  border-radius: 12px;
                  margin-bottom: 5px; }
          .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-lenovo {
            position: absolute;
            width: 240px;
            left: 0;
            top: 54px;
            box-sizing: border-box;
            box-shadow: 0 8px 16px 0 #9c713b;
            border-radius: 0 0 8px 8px;
            background-color: #fff;
            display: none; }
            .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-lenovo a {
              font-size: 12px;
              font-weight: 400;
              line-height: 24px;
              color: #787d82;
              padding-left: 14px;
              display: block; }
            .banner-container .nav-cont .nav-r-wrap .search-box .search-h-ip-b .search-box-lenovo a:hover {
              color: #9c713b; }

.detail-nav {
  width: 100%;
  background-color: #191919;
  height: 77px;
  border-bottom: none;
  box-shadow: 0 1px 2px #edecec; }
  .detail-nav .nav-cont {
    min-width: 1200px;
    margin: 0 50px; }
    .detail-nav .nav-cont .logo-info {
      width: 500px; }
      .detail-nav .nav-cont .logo-info .logo-pos {
        width: 120px;
        height: 62px;
        float: left;
        background-image: url("../images/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15px; }
    .detail-nav .nav-cont .nav-menu li {
      float: left;
      margin-right: 200px; }
      .detail-nav .nav-cont .nav-menu li a {
        display: block;
        line-height: 77px;
        color: #9ca0a4 !important;
        width: 72px;
        text-align: center; }
      .detail-nav .nav-cont .nav-menu li a:hover {
        color: #FFFFFF !important;
        background: #1a2120 !important; }

/*# sourceMappingURL=banner.css.map */
