.category-nav-banner {
  width: 100%;
  height: 130px;
  background-color: #9c713b; }
  .category-nav-banner .category-nav-tit {
    line-height: 30px;
    font-size: 24px;
    color: #ffffff; }
    .category-nav-banner .category-nav-tit p {
      float: left; }
    .category-nav-banner .category-nav-tit span {
      display: block;
      width: 15px;
      height: 24px;
      float: left; }
    .category-nav-banner .category-nav-tit .category-nav-dot {
      width: 6px;
      height: 6px;
      background-color: #f8fafc;
      border-radius: 50%;
      margin: 12px 30px 0 30px; }

.category-nav-wrap {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(20, 14, 32, 0.02); }
  .category-nav-wrap .category-nav {
    width: 1200px;
    margin: 0 auto; }
    .category-nav-wrap .category-nav .category-nav-item {
      font-size: 14px;
      padding: 12px 0;
      border-bottom: 1px solid #EDF1F2; }
      .category-nav-wrap .category-nav .category-nav-item .category-nav-title {
        float: left;
        line-height: 40px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        color: #07111B;
        font-weight: bold; }
      .category-nav-wrap .category-nav .category-nav-item .category-nav-choice {
        margin-left: 52px; }
        .category-nav-wrap .category-nav .category-nav-item .category-nav-choice li {
          float: left;
          margin: 0 4px;
          line-height: 40px; }
          .category-nav-wrap .category-nav .category-nav-item .category-nav-choice li a {
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: #1c1f21;
            padding: 0 16px;
            text-align: center; }
            .category-nav-wrap .category-nav .category-nav-item .category-nav-choice li a:hover {
              color: #81D8D0; }
          .category-nav-wrap .category-nav .category-nav-item .category-nav-choice li .category-nav-choice-active {
            background: #f0fbfa;
            color: #81D8D0;
            border-radius: 10px; }
    .category-nav-wrap .category-nav .category-nav-item:last-child {
      border-bottom: none; }

.design-list-count {
  margin: 0 auto;
  width: 1200px;
  margin-top: 12px; }
  .design-list-count .design-list-wrap {
    overflow: hidden; }
    .design-list-count .design-list-wrap .design-list-container {
      margin-left: -32px; }
      .design-list-count .design-list-wrap .design-list-container .design-list-item {
        margin-left: 32px;
        width: 378px;
        margin-bottom: 36px;
        overflow: hidden; }
        .design-list-count .design-list-wrap .design-list-container .design-list-item .design-list-img {
          width: 100%;
          height: 230px;
          display: block;
          border-radius: 10px;
          cursor: pointer; }
        .design-list-count .design-list-wrap .design-list-container .design-list-item .design-list-img:hover + .item-container .item-title .item-title-style {
          color: #2B99A3; }
        .design-list-count .design-list-wrap .design-list-container .design-list-item .item-container {
          margin: 0 4px; }
          .design-list-count .design-list-wrap .design-list-container .design-list-item .item-container .item-title {
            margin: 16px 0 20px 0; }
            .design-list-count .design-list-wrap .design-list-container .design-list-item .item-container .item-title .item-title-style {
              line-height: 18px;
              font-size: 16px;
              color: #07111B;
              display: block;
              cursor: pointer;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
              .design-list-count .design-list-wrap .design-list-container .design-list-item .item-container .item-title .item-title-style:hover {
                color: #2B99A3; }
  .design-list-count .design-list-order .design-list-ul {
    margin: 22px 0 28px 0; }
    .design-list-count .design-list-order .design-list-ul li {
      float: left;
      margin-right: 18px; }
      .design-list-count .design-list-order .design-list-ul li a {
        font-size: 12px;
        line-height: 24px;
        display: block;
        padding: 0 12px;
        border-radius: 12px;
        color: #545C63; }
      .design-list-count .design-list-order .design-list-ul li a:hover {
        color: #545C63;
        background: #DFE3E6; }
      .design-list-count .design-list-order .design-list-ul li .design-list-ul-act {
        color: #FEFEFE !important;
        background: #9199A1 !important; }

/*# sourceMappingURL=category.css.map */
