.desc-nav-wrap {
  width: 100%;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  background-color: #9c713b;
  display: flex;
  justify-content: center; }
  .desc-nav-wrap .desc-nav {
    width: 1200px; }
    .desc-nav-wrap .desc-nav .desc-nav-l {
      color: #d6c79e; }
      .desc-nav-wrap .desc-nav .desc-nav-l a {
        color: #d6c79e; }
        .desc-nav-wrap .desc-nav .desc-nav-l a:hover {
          color: #fff; }
      .desc-nav-wrap .desc-nav .desc-nav-l span {
        color: inherit; }
      .desc-nav-wrap .desc-nav .desc-nav-l span:last-child {
        color: #fff; }
    .desc-nav-wrap .desc-nav .desc-nav-r {
      color: #fff; }
      .desc-nav-wrap .desc-nav .desc-nav-r .collect-cont {
        margin-right: 28px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer; }
        .desc-nav-wrap .desc-nav .desc-nav-r .collect-cont .collect-cont-icon {
          display: inline-block;
          vertical-align: middle;
          width: 14px;
          height: 14px;
          background-image: url("../../static/images/collect-cont-hov-icon.png");
          background-size: 100%;
          background-repeat: no-repeat; }
      .desc-nav-wrap .desc-nav .desc-nav-r .share-cont {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer; }
        .desc-nav-wrap .desc-nav .desc-nav-r .share-cont .share-cont-icon {
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          background-image: url("../../static/images/v-share.png");
          background-size: 100%;
          background-repeat: no-repeat; }

.desc-wrap {
  width: 1200px;
  margin: 0 auto; }
  .desc-wrap .desc-info {
    position: relative;
    margin: 30px auto 60px; }
    .desc-wrap .desc-info .design-effect {
      height: 510px;
      width: 68%;
      float: left;
      overflow: hidden; }
      .desc-wrap .desc-info .design-effect .banner-wrap {
        box-sizing: border-box; }
        .desc-wrap .desc-info .design-effect .banner-wrap .banner-img {
          width: 100%;
          height: 100%;
          display: block; }
        .desc-wrap .desc-info .design-effect .banner-wrap .el-carousel__indicator {
          padding: 30px 6px; }
        .desc-wrap .desc-info .design-effect .banner-wrap .el-carousel__container {
          height: 510px; }
    .desc-wrap .desc-info .design-idea {
      float: right;
      width: 30%;
      overflow: hidden; }
      .desc-wrap .desc-info .design-idea .design-idea-wrap {
        color: #333; }
        .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-title {
          font-size: 22px;
          line-height: 40px;
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-align: center; }
        .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-mark {
          margin-top: 5px;
          color: #666666;
          display: flex;
          justify-content: space-between; }
          .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-mark span {
            margin-right: 5px;
            font-size: 10px; }
            .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-mark span i {
              color: #999;
              font-style: normal; }
            .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-mark span:last-child {
              margin-right: 0; }
        .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-detail {
          margin-top: 28px;
          border-bottom: none; }
          .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-detail:before {
            content: '';
            width: 100%;
            height: 11px;
            background-color: #ebebeb;
            display: block; }
          .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-detail .desc-detail-ul li {
            display: inline-block;
            width: 49%;
            text-align: center;
            border-bottom: 1px solid #f1f1f1; }
          .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-detail .desc-detail-ul .detail-ca {
            margin: 10px 0;
            color: #333;
            font-size: 14px; }
            .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-detail .desc-detail-ul .detail-ca a {
              color: inherit; }
          .desc-wrap .desc-info .design-idea .design-idea-wrap .desc-detail .desc-detail-ul .detail-default {
            margin-bottom: 20px;
            color: #999;
            font-size: 14px; }
        .desc-wrap .desc-info .design-idea .design-idea-wrap .idea-desc {
          margin-top: 5px;
          padding: 15px;
          background-color: #ebebeb;
          font-size: 12px;
          line-height: 1.8;
          color: #646464; }
          .desc-wrap .desc-info .design-idea .design-idea-wrap .idea-desc h4 {
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; }
  .desc-wrap .contact-wrap {
    margin: 30px 0; }
    .desc-wrap .contact-wrap .contact-w {
      margin-bottom: 15px; }
      .desc-wrap .contact-wrap .contact-w .contact-wel {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        justify-items: center;
        align-items: center; }
        .desc-wrap .contact-wrap .contact-w .contact-wel:before {
          content: '';
          display: block;
          float: left;
          height: 20px;
          width: 5px;
          margin: 0 25px 0 0;
          border-radius: 3px;
          background: #69DD6E; }
        .desc-wrap .contact-wrap .contact-w .contact-wel .sub-wel {
          color: #333;
          font-size: 10px;
          font-weight: 400;
          padding-left: 5px;
          line-height: 20px;
          display: inline-block;
          vertical-align: middle; }
    .desc-wrap .contact-wrap .contact-method input {
      width: 220px;
      height: 40px;
      outline: none;
      border: 1px solid #5a5d5c7a;
      border-radius: 5px; }
      .desc-wrap .contact-wrap .contact-method input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #999;
        font-size: 12px;
        position: relative;
        left: 10px; }
      .desc-wrap .contact-wrap .contact-method input::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999;
        font-size: 12px;
        position: relative;
        left: 10px; }
      .desc-wrap .contact-wrap .contact-method input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #999;
        font-size: 12px;
        position: relative;
        left: 10px; }
      .desc-wrap .contact-wrap .contact-method input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999;
        font-size: 12px;
        position: relative;
        left: 10px; }
    .desc-wrap .contact-wrap .contact-method .contact-submit {
      height: 40px;
      width: 100px;
      outline: none;
      background-color: #FF2435;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
      margin-left: 10px; }
  .desc-wrap .recommend-wrap {
    margin: 30px 0; }
    .desc-wrap .recommend-wrap .recommend-w {
      margin-bottom: 15px; }
      .desc-wrap .recommend-wrap .recommend-w .recommend-wel {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px; }
        .desc-wrap .recommend-wrap .recommend-w .recommend-wel:before {
          content: '';
          display: block;
          float: left;
          height: 20px;
          width: 5px;
          margin: 0 25px 0 0;
          border-radius: 3px;
          background: #69DD6E; }

/*# sourceMappingURL=detail.css.map */
