.desc-wrap {
  width: 1200px;
  margin: 0 auto; }
  .desc-wrap .desc-info {
    margin-top: 20px;
    text-align: center; }
    .desc-wrap .desc-info .desc-title {
      color: #333;
      font-size: 26px;
      font-weight: 500; }
    .desc-wrap .desc-info .desc-mark {
      margin-top: 10px;
      color: #666666; }
      .desc-wrap .desc-info .desc-mark span {
        margin-right: 20px; }
        .desc-wrap .desc-info .desc-mark span i {
          color: #999;
          font-style: normal; }
    .desc-wrap .desc-info .desc-detail {
      box-shadow: 0 10px 18px #f6f6f6;
      border: 1px solid #f6f6f6;
      margin-top: 28px; }
      .desc-wrap .desc-info .desc-detail li {
        display: inline-block;
        width: 320px;
        text-align: center;
        border-bottom: 1px solid #f1f1f1; }
        .desc-wrap .desc-info .desc-detail li:last-child {
          border-bottom: none; }
      .desc-wrap .desc-info .desc-detail .detail-ca {
        margin: 10px 0;
        color: #333;
        font-size: 14px; }
        .desc-wrap .desc-info .desc-detail .detail-ca a {
          color: inherit; }
      .desc-wrap .desc-info .desc-detail .detail-default {
        margin-bottom: 20px;
        color: #999;
        font-size: 14px; }
  .desc-wrap .design-idea {
    margin: 20px 0;
    background-color: #fafafa; }
    .desc-wrap .design-idea p {
      color: #333;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 1px solid #e74c3c;
      display: inline-block; }
    .desc-wrap .design-idea .idea-desc {
      margin-left: 30px;
      height: 120px;
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 30px;
      font-size: 14px;
      color: #999; }
      .desc-wrap .design-idea .idea-desc::-webkit-scrollbar {
        width: 5px;
        height: 1px; }
      .desc-wrap .design-idea .idea-desc::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: #636363;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); }
      .desc-wrap .design-idea .idea-desc::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background: #EDEDED; }
  .desc-wrap .design-effect {
    margin-top: 20px;
    background-color: #fafafa; }
    .desc-wrap .design-effect p {
      color: #333;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 1px solid #e74c3c;
      display: inline-block; }
    .desc-wrap .design-effect .banner-wrap {
      margin: 30px auto;
      box-sizing: border-box; }
      .desc-wrap .design-effect .banner-wrap .banner-img {
        width: 100%;
        height: 100%;
        display: block; }
      .desc-wrap .design-effect .banner-wrap .el-carousel__indicator {
        padding: 30px 6px; }
    .desc-wrap .design-effect .el-carousel__container {
      height: 100%;
      padding-bottom: 35.42%; }
  .desc-wrap .contact-wrap {
    margin: 30px 0;
    box-shadow: 0 10px 18px #f6f6f6;
    border: 1px solid #f6f6f6; }
    .desc-wrap .contact-wrap .contact-w {
      margin-bottom: 15px; }
      .desc-wrap .contact-wrap .contact-w .contact-wel {
        color: #333;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        display: flex;
        justify-items: center;
        align-items: center; }
        .desc-wrap .contact-wrap .contact-w .contact-wel:before {
          content: '';
          display: block;
          float: left;
          height: 20px;
          width: 5px;
          margin: 0 25px 0 0;
          border-radius: 3px;
          background: #69DD6E; }
        .desc-wrap .contact-wrap .contact-w .contact-wel .sub-wel {
          color: #333;
          font-size: 10px;
          font-weight: bold;
          padding-left: 5px;
          padding-top: 4px;
          line-height: 20px;
          display: inline-block; }
    .desc-wrap .contact-wrap .contact-method input {
      width: 220px;
      height: 30px;
      outline: none;
      border: 1px solid #4D555D;
      border-radius: 5px; }
      .desc-wrap .contact-wrap .contact-method input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: red;
        font-size: 12px;
        position: relative;
        left: 10px; }
      .desc-wrap .contact-wrap .contact-method input::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: red;
        font-size: 12px;
        position: relative;
        left: 10px; }
      .desc-wrap .contact-wrap .contact-method input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: red;
        font-size: 12px;
        position: relative;
        left: 10px; }
      .desc-wrap .contact-wrap .contact-method input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: red;
        font-size: 12px;
        position: relative;
        left: 10px; }
    .desc-wrap .contact-wrap .contact-method .contact-submit {
      height: 30px;
      width: 100px;
      border-radius: 50px;
      outline: none;
      background-color: #FF2435;
      color: #FFFFFF;
      border: none;
      cursor: pointer; }
  .desc-wrap .recommend-wrap {
    margin: 30px 0;
    box-shadow: 0 10px 18px #f6f6f6;
    border: 1px solid #f6f6f6; }
    .desc-wrap .recommend-wrap .recommend-w .recommend-wel {
      color: #333;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px; }
      .desc-wrap .recommend-wrap .recommend-w .recommend-wel:before {
        content: '';
        display: block;
        float: left;
        height: 20px;
        width: 5px;
        margin: 0 25px 0 0;
        border-radius: 3px;
        background: #69DD6E; }

/*# sourceMappingURL=detail.css.map */
