@charset "UTF-8";
html, body,
div, ul, li, ol,
p, dl, dt, dd,
h1, h2, h3, h4, h5, h6,
table, tr, th, td, caption, thead, tbody, tfoot,
form, label, input, button, select, option,
iframe, a, img, span, em, i, strong, b, u, center, big, small, sub, sup,
blockquote, pre,
abbr, acronym, address, cite, code,
del, dfn, font {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }

body {
  overflow-y: scroll;
  background-color: #F8FCFC; }

.nav-l {
  float: left; }

.nav-r {
  float: right; }

.clear:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
  overflow: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none; }

ul {
  margin-bottom: 0 !important; }

.align-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center; }

.min-height {
  height: 859px; }

.hint-p {
  position: absolute;
  top: 0;
  height: 42px;
  line-height: 42px;
  text-indent: 16px;
  font-size: 14px;
  color: #F20D0D;
  border-radius: 10px;
  opacity: 1;
  cursor: text;
  background: #f6f5f9; }

.middle {
  display: inline-block;
  vertical-align: middle; }

@-webkit-keyframes tipFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }
@-moz-keyframes tipFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }
@keyframes tipFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }
.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6; }

.white-space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.white-space-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word; }

.detail-manage-wrap {
  width: 1200px;
  margin: 20px auto; }

.detail-manage-container {
  display: flex;
  justify-content: space-between; }

.detail-manage-quote-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.detail-manage-left {
  width: 860px; }
  .detail-manage-left .detail-manage-quote {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #656565; }
    .detail-manage-left .detail-manage-quote .detail-manage-title {
      display: flex;
      justify-content: center; }
      .detail-manage-left .detail-manage-quote .detail-manage-title span {
        font-weight: 400;
        font-size: 18px;
        font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
        display: inline-block;
        margin: 20px 0;
        color: #9c713b; }
    .detail-manage-left .detail-manage-quote .manage-quote-left {
      width: 380px;
      margin: 20px 0; }
      .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l {
        display: flex;
        justify-content: center;
        align-items: center; }
        .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l .quote-price-w-form {
          position: relative;
          width: 90%; }
          .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l .quote-price-w-form .input-d {
            width: 100%;
            height: 30px;
            margin-bottom: 10px; }
            .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l .quote-price-w-form .input-d span {
              display: inline-block;
              font-size: 14px;
              font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }
            .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l .quote-price-w-form .input-d input {
              display: inline-block;
              outline: none;
              height: 28px;
              width: 70%;
              border: 1px solid;
              text-indent: 8px;
              color: #999;
              font-size: 14px; }
            .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l .quote-price-w-form .input-d:last-child {
              margin-bottom: 0; }
          .detail-manage-left .detail-manage-quote .manage-quote-left .manage-quote-l .quote-price-w-form .manage-submit-button {
            position: absolute;
            top: 32px;
            right: -115px;
            display: block;
            width: 90px;
            height: 90px;
            /*background: linear-gradient(-90deg, red, yellow);*/
            background-color: rgba(0, 0, 0, 0);
            -webkit-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 45px;
            border: 1px solid #9c713b;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }
    .detail-manage-left .detail-manage-quote .manage-quote-right {
      width: 380px; }
      .detail-manage-left .detail-manage-quote .manage-quote-right .manage-quote-r {
        display: flex;
        align-items: center;
        margin-left: 55px; }
        .detail-manage-left .detail-manage-quote .manage-quote-right .manage-quote-r .manage-quote-p {
          margin: 20px 0;
          width: 100%; }
          .detail-manage-left .detail-manage-quote .manage-quote-right .manage-quote-r .manage-quote-p .manage-quote-p-all {
            margin-bottom: 20px; }
          .detail-manage-left .detail-manage-quote .manage-quote-right .manage-quote-r .manage-quote-p .manage-quote-p-item p {
            margin-bottom: 5px; }
            .detail-manage-left .detail-manage-quote .manage-quote-right .manage-quote-r .manage-quote-p .manage-quote-p-item p:last-child {
              margin-bottom: 0; }
          .detail-manage-left .detail-manage-quote .manage-quote-right .manage-quote-r .manage-quote-p span {
            font-size: 14px;
            font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }
  .detail-manage-left .detail-manage-content {
    margin-top: 20px; }
    .detail-manage-left .detail-manage-content .detail-manage-content-w .content-title {
      display: flex;
      justify-content: center; }
      .detail-manage-left .detail-manage-content .detail-manage-content-w .content-title span {
        font-size: 22px;
        font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }
    .detail-manage-left .detail-manage-content .detail-manage-content-w .content-detail {
      margin-top: 10px; }
    .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate {
      height: 32px;
      margin: 60px auto;
      text-align: center; }
      .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate .thumb-up, .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate .retransmission {
        display: inline-block;
        width: 150px;
        height: 32px;
        cursor: pointer; }
      .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate .thumb-up-icon, .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate .retransmission-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        vertical-align: middle; }
      .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate .thumb-up-icon {
        background-image: url("../images/dianzhan.png"); }
      .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate .retransmission-icon {
        background-image: url("../images/zhuanfa.png"); }
      .detail-manage-left .detail-manage-content .detail-manage-content-w .content-operate span {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }

.detail-manage-right {
  width: 320px; }
  .detail-manage-right .hot-designer-r, .detail-manage-right .hot-strategy-r {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #656565;
    margin-bottom: 20px; }
    .detail-manage-right .hot-designer-r .hot-title-d, .detail-manage-right .hot-strategy-r .hot-title-d {
      margin: 10px;
      display: flex;
      justify-content: space-between; }
      .detail-manage-right .hot-designer-r .hot-title-d span, .detail-manage-right .hot-designer-r .hot-title-d a, .detail-manage-right .hot-strategy-r .hot-title-d span, .detail-manage-right .hot-strategy-r .hot-title-d a {
        font-size: 16px;
        font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
        color: #9c713b; }

/*# sourceMappingURL=strategy-manage.css.map */
