@charset "UTF-8";
html, body,
div, ul, li, ol,
p, dl, dt, dd,
h1, h2, h3, h4, h5, h6,
table, tr, th, td, caption, thead, tbody, tfoot,
form, label, input, button, select, option,
iframe, a, img, span, em, i, strong, b, u, center, big, small, sub, sup,
blockquote, pre,
abbr, acronym, address, cite, code,
del, dfn, font {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif; }

body {
  overflow-y: scroll;
  background-color: #F8FCFC; }

.nav-l {
  float: left; }

.nav-r {
  float: right; }

.clear:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
  overflow: hidden; }

li {
  list-style: none; }

a {
  text-decoration: none; }

ul {
  margin-bottom: 0 !important; }

.align-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center; }

.min-height {
  height: 859px; }

.hint-p {
  position: absolute;
  top: 0;
  height: 42px;
  line-height: 42px;
  text-indent: 16px;
  font-size: 14px;
  color: #F20D0D;
  border-radius: 10px;
  opacity: 1;
  cursor: text;
  background: #f6f5f9; }

.middle {
  display: inline-block;
  vertical-align: middle; }

@-webkit-keyframes tipFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }
@-moz-keyframes tipFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }
@keyframes tipFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  100% {
    opacity: 100%;
    transform: scale(1); } }
.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6; }

.white-space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.white-space-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word; }

.detail-container {
  width: 1200px;
  margin: 20px auto; }
  .detail-container .detail-nav {
    height: 48px;
    background-color: #9c713b;
    display: flex;
    justify-items: left;
    align-items: center; }
    .detail-container .detail-nav a {
      display: inline-block;
      font-size: 18px;
      font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
      color: #f0f0f0;
      width: 100px;
      height: 48px;
      line-height: 48px;
      text-align: center; }
      .detail-container .detail-nav a:first-child {
        border-left: none; }
    .detail-container .detail-nav .active-nav {
      background-color: #f0f0f0;
      color: #9c713b;
      border-top: 2px solid #9c713b; }
  .detail-container .detail-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; }
  .detail-container .detail-left {
    width: 860px; }
    .detail-container .detail-left .detail-content {
      padding: 20px;
      display: flex;
      justify-content: space-between; }
      .detail-container .detail-left .detail-content a {
        display: block;
        width: 210px;
        height: 150px;
        border-radius: 5px; }
        .detail-container .detail-left .detail-content a img {
          width: 100%;
          height: 100%;
          border-radius: 5px; }
      .detail-container .detail-left .detail-content .content-wrap {
        margin-left: 20px;
        color: #000; }
        .detail-container .detail-left .detail-content .content-wrap .title {
          display: block;
          font-size: 18px;
          height: 35px;
          line-height: 35px;
          color: inherit; }
        .detail-container .detail-left .detail-content .content-wrap .sub-title {
          display: block;
          height: 70px;
          width: 610px;
          margin-top: 15px;
          line-height: 1.5;
          font-size: 14px;
          color: inherit; }
        .detail-container .detail-left .detail-content .content-wrap .origin {
          margin-top: 10px;
          height: 20px;
          font-size: 14px; }
          .detail-container .detail-left .detail-content .content-wrap .origin span {
            display: inline-block;
            margin-left: 10px; }
            .detail-container .detail-left .detail-content .content-wrap .origin span:first-child {
              margin-left: 0; }
      .detail-container .detail-left .detail-content:hover {
        box-shadow: 0 0 5px 1px #999; }
  .detail-container .detail-right {
    width: 320px;
    height: 330px;
    margin-left: 20px;
    box-shadow: 0 0 5px 1px rgba(9, 9, 9, 0.1);
    border-radius: 5px; }
    .detail-container .detail-right .contact-price-w {
      padding: 20px; }
      .detail-container .detail-right .contact-price-w .contact-price-w-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; }
        .detail-container .detail-right .contact-price-w .contact-price-w-form .input-d {
          box-sizing: border-box;
          height: 40px;
          padding: 0 15px;
          border: 1px solid #f3f3f3;
          margin-top: 20px;
          background-color: #f3f3f3;
          border-radius: 30px; }
          .detail-container .detail-right .contact-price-w .contact-price-w-form .input-d input {
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
            background: transparent;
            color: #666; }
        .detail-container .detail-right .contact-price-w .contact-price-w-form .submit-button {
          margin-top: 20px;
          height: 40px;
          border: 1px solid #f3f3f3;
          outline: none;
          cursor: pointer;
          border-radius: 30px;
          background: #9c713b;
          color: #f3f3f3; }

/*# sourceMappingURL=strategy-detail.css.map */
