@charset "UTF-8";
.user-wrap {
  min-height: 300px; }

.personal_information {
  width: 100%;
  padding: 20px 0;
  background-color: #9C713B; }

.user-center {
  width: 1100px;
  margin: 0 auto; }

.user-list {
  display: flex;
  align-items: center; }

.user-visit-log {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  margin-left: 12px; }

.user-image {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #FFFFFF; }
  .user-image img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%; }

.user-desc {
  margin-left: 10px;
  display: inline-block; }
  .user-desc .user-wel {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    margin-bottom: 5px; }
  .user-desc .user-visit {
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    margin-top: 5px; }

.user-nav {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(20, 14, 32, 0.02); }
  .user-nav .user-nav-items {
    width: 1100px;
    margin: 0 auto;
    height: 100%; }
    .user-nav .user-nav-items .user-ul {
      height: 100%; }
      .user-nav .user-nav-items .user-ul li {
        float: left;
        margin-right: 60px; }
        .user-nav .user-nav-items .user-ul li:last-child {
          margin-right: 0; }
        .user-nav .user-nav-items .user-ul li a {
          display: inline-block;
          padding: 15px 0 13px;
          font-size: 18px;
          line-height: 20px;
          color: #4D555D; }

.active-li-a {
  color: #9C713B !important;
  border-bottom: 2px solid #9C713B; }

.user-chose-wrap {
  width: 1100px;
  margin: 45px auto 0; }

.user-info-left {
  float: left; }
  .user-info-left .user-info-item li {
    width: 136px;
    height: 48px;
    margin-top: 30px; }
    .user-info-left .user-info-item li a {
      color: #000; }
    .user-info-left .user-info-item li:first-child {
      margin-top: 0; }

.user-info-item li .user-info-item-active {
  background-color: #9C713B;
  color: #fff !important; }

.user-info-item li a {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center; }

.user-info-right {
  float: right;
  width: 888px; }

.user-info-title {
  border-bottom: 1px solid #d0d6d9; }

.user-info-title-p {
  color: #9C713B;
  font-size: 14px;
  margin-bottom: 12px; }

.user-info-wrap {
  margin-top: 36px; }
  .user-info-wrap .user-info-list {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #d0d6d9; }
    .user-info-wrap .user-info-list:first-child {
      padding-top: 0; }
    .user-info-wrap .user-info-list .design-img {
      width: 200px;
      height: 124px;
      float: left; }
      .user-info-wrap .user-info-list .design-img img {
        width: 100%;
        height: 100%;
        display: block; }
    .user-info-wrap .user-info-list .design-desc {
      margin-left: 220px;
      position: relative; }
      .user-info-wrap .user-info-list .design-desc .design-title {
        padding: 20px 0 20px; }
        .user-info-wrap .user-info-list .design-desc .design-title .design-title-p {
          font-size: 14px;
          line-height: 22px;
          height: 22px; }
      .user-info-wrap .user-info-list .design-desc .design-time {
        padding: 20px 0 20px; }
        .user-info-wrap .user-info-list .design-desc .design-time .design-time-p {
          font-size: 14px;
          line-height: 22px;
          height: 22px; }
      .user-info-wrap .user-info-list .design-desc .look-but {
        position: absolute;
        display: block;
        right: 0;
        top: 51px;
        font-size: 14px;
        width: 92px;
        text-align: center;
        border-radius: 20px;
        box-sizing: border-box;
        border: 1px solid #9C713B;
        padding: 10px 0;
        color: #9C713B; }
  .user-info-wrap .set-item-box {
    padding: 30px 0;
    border-bottom: 1px solid #d0d6d9; }
  .user-info-wrap .set-item-l {
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle; }
  .user-info-wrap .set-item-m {
    vertical-align: middle;
    display: inline-block; }
  .user-info-wrap .set-item-r {
    display: inline-block;
    vertical-align: middle; }
  .user-info-wrap .set-item-img {
    width: 40px;
    display: block; }

/*# sourceMappingURL=user.css.map */
