@charset "UTF-8";
@import "theme";

.banner-container {
  width: 100%;
  background-color: #ffffff;
  height: 77px;
  border-bottom: none;
  box-shadow: 0 1px 2px #edecec;
  .nav-cont {
    min-width: 1200px;
    margin: 0 50px;
    .logo-info {
      width: 500px;
      .logo-pos {
        width: 120px;
        height: 62px;
        float: left;
        background-image: url("../images/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15px;
      }
    }
    .nav-menu {
      li {
        float: left;
        margin-right: 200px;
        a {
          display: block;
          line-height: 77px;
          color: #4D555D;
          width: 72px;
          text-align: center;
        }
        a:hover{
          background-color: #F5F6F6;
        }
      }
    }
    .nav-login-ul{
      display: flex;
      justify-content: space-between;
      li{
        margin-right: 10px;
        a, span {
          display: block;
          line-height: 77px;
          color: #4D555D;
          text-align: center;
        }

      }
    }
    .after-login{
      display: flex;
      align-items: center;
      height: 77px;
      .news-cont{
        margin: 0 20px 0 30px;
        position: relative;
        img{
          width: 24px;
          display: block;
        }
        .news-hint-box {
          position: absolute;
          top: 0;
          right: -5px;
          content: '';
          width: 8px;
          height: 8px;
          display: block;
          border-radius: 4px;
          background-color: #F20D0D;
        }
      }
      .user-head-portrait{
        position: relative;
        &:hover{
          .user-nav-box{
            display: block;
          }
        }
        .head-img-box{
          width: 44px;
          height: 44px;
          border: 2px solid rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 2px 6px 0 rgba(20, 14, 32, 0.28);
          img{
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
          }
        }
        .user-nav-box{
          background-color: #ffffff;
          position: absolute;
          width: 330px;
          top: 62px;
          right: 0;
          border-radius: 0 0 8px 8px;
          display: none;
          z-index: 20;
          box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
          .user-nav-img{
            position: absolute;
            top: -15px;
            width: 20px;
            height: 16px;
            right: 12px;
          }
          .user-nav-cont{
            margin: 0 20px;
            padding: 20px 0;
            .u-com-nav{
                margin: 20px 0 28px 0;
                border-bottom: 1px solid #E7E7E7;
              .u-com-ul{
                margin-left: -10px;
                padding-left: 0 !important;
                li{
                  float: left;
                  width: 140px;
                  height: 32px;
                  margin-left: 10px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 10px;
                  background-color: #f5f6f6;
                  &:hover{
                    background: rgba(237, 237, 237, 1);
                  }
                  a{
                    font-size: 12px;
                    color: #4D555D;
                    img{
                      width: 16px;
                      margin-right: 10px;
                    }
                    span{
                      line-height: 12px;
                    }
                  }
                }
              }
            }
            .log-out{
              display: block;
              font-size: 12px;
              color: #4D555D;
            }
          }
        }
      }
    }
    .nav-r-wrap{
      display: flex;
      align-items: center;
      .search-box{
        width: 220px;
        .search-nav-icon{
          height: 32px;
          width: 32px;
          margin-right: 22px;
          position: relative;
          .search-nav-icon-i{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/search.png");
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
        .search-h-ip-b{
          position: relative;
          .search-h-ip{
            width: 160px;
            height: 32px;
            font-size: 14px;
            outline: none;
            border: none;
            color: $theme-color;
            background-color: #fff;
          }
        }
      }
    }
  }
}

.detail-nav {
  width: 100%;
  background-color: #191919;
  height: 77px;
  border-bottom: none;
  box-shadow: 0 1px 2px #edecec;
  .nav-cont {
    min-width: 1200px;
    margin: 0 50px;
    .logo-info {
      width: 500px;
      .logo-pos {
        width: 120px;
        height: 62px;
        float: left;
        background-image: url("../images/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15px;
      }
    }
    .nav-menu {
      li {
        float: left;
        margin-right: 200px;
        a {
          display: block;
          line-height: 77px;
          color: #9ca0a4 !important;
          width: 72px;
          text-align: center;
        }
        a:hover{
          color: #FFFFFF!important;
          background: rgba(26, 33, 32, 1)!important;
        }
      }
    }
  }
}