@charset "UTF-8";

.category-nav-banner {
  width: 100%;
  height: 130px;
  background-color: #484848;
}
.category-nav-wrap {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(20, 14, 32, 0.02);
  .category-nav {
    width: 1200px;
    margin: 0 auto;
    .category-nav-item {
      font-size: 14px;
      padding: 12px 0;
      border-bottom: 1px solid #EDF1F2;
      .category-nav-title {
        float: left;
        line-height: 40px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        color: #07111B;
        font-weight: bold;
      }
      .category-nav-choice {
        margin-left: 52px;
        li {
          float: left;
          margin: 0 4px;
          line-height: 40px;
          a {
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: #1c1f21;
            padding: 0 16px;
            text-align: center;
          }
        }
      }
    }
  }
}