@charset "UTF-8";
.banner-container {
  width: 100%;
  background-color: #ffffff;
  height: 72px;
  .nav-cont {
    min-width: 1200px;
    margin: 0 50px;
    .logo-info {
      width: 500px;
      .logo-pos {
        width: 120px;
        height: 42px;
        float: left;
        background-image: url("../images/logo.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 15px;
      }
    }
    .nav-menu {
      li {
        float: left;
        margin-right: 200px;
        a {
          display: block;
          line-height: 72px;
          color: #4D555D;
        }
      }
    }
  }
}