@charset "UTF-8";
@import "theme";

.user-wrap{
  min-height: 300px;
}
.personal_information{
  width: 100%;
  padding: 20px 0;
  background-color: $theme-color;
}
.user-center{
  width: 1100px;
  margin: 0 auto;
}
.user-list{
  display: flex;
  align-items: center;
}
.user-visit-log{
  color: #fff;
  font-size: 12px;
  display: inline-block;
  margin-left: 12px;
}
.user-image{
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
}
.user-desc{
  margin-left: 10px;
  display: inline-block;
  .user-wel{
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    margin-bottom: 5px;
  }
  .user-visit{
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    margin-top: 5px;
  }
}

.user-nav{
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(20,14,32,.02);
  .user-nav-items{
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    .user-ul{
      height: 100%;//必须给ul设置(继承)高度,不然flex center不生效
      li{
        float: left;
        margin-right: 60px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: inline-block;
          padding: 15px 0 13px;//15 + 13 + 20 + 2 == 50
          font-size: 18px;
          line-height: 20px;
          color: #4D555D;
        }
      }
    }
  }
}
.active-li-a{
  color: $theme-color !important;
  border-bottom: 2px solid $theme-color;
}

.user-chose-wrap{
  width: 1100px;
  margin: 45px auto 0;
}
.user-info-left{
  float: left;
  .user-info-item{
    li{
      width: 136px;
      height: 48px;
      margin-top: 30px;
      a{
        color: #000;
      }
      &:first-child{
        margin-top: 0;
      }
    }
  }
}
.user-info-item li .user-info-item-active{
  background-color: $theme-color;
  color: #fff !important;
}
.user-info-item li a{
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
}

.user-info-right{
  float: right;
  width: 888px;
}
.user-info-title{
  border-bottom: 1px solid #d0d6d9;
}
.user-info-title-p{
  color: $theme-color;
  font-size: 14px;
  margin-bottom: 12px;
}
.user-info-wrap{
  margin-top: 36px;
  .user-info-list{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #d0d6d9;
    &:first-child{
      padding-top: 0;
    }
    .design-img{
      width: 200px;
      height: 124px;
      float: left;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .design-desc{
      margin-left: 220px;
      position: relative;
      .design-title{
        padding: 20px 0 20px;
        .design-title-p{
          font-size: 14px;
          line-height: 22px;
          height: 22px;
        }
      }
      .design-time{
        padding: 20px 0 20px;
        .design-time-p{
          font-size: 14px;
          line-height: 22px;
          height: 22px;
        }
      }
      .look-but{
        position: absolute;
        display: block;
        right: 0;
        top: 51px;
        font-size: 14px;
        width: 92px;
        text-align: center;
        border-radius: 20px;
        box-sizing: border-box;
        border: 1px solid $theme-color;
        padding: 5px 0;
        color: $theme-color;
      }
    }
  }

  .set-item-box{
    padding: 30px 0;
    border-bottom: 1px solid #d0d6d9;
  }
  .set-item-l{
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .set-item-m{
    vertical-align: middle;
    display: inline-block;
    .set-item-type{
      font-size: 16px;
    }
    .set-item-status{
      font-size: 14px;
      color: #F20D0D;
    }
    .set-item-use{
      font-size: 12px;
    }
  }
  .set-item-r{
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 92px;
    border: 1px solid $theme-color;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    .set-item-action{
      color: $theme-color;
    }
  }
  .set-item-img{
    width: 40px;
    display: block;
  }
}

/*公共蒙板层*/
.user-set-shadow{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
/*top和left动态添加*/
.email-bind-verify, .email-bind-show, .password-c-wrap{
  width: 520px;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  border-radius: 10px;
}
.email-bind-top{
  margin: 10px 20px;
  span{
    line-height: 32px;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    color: $theme-color;
    float: left;
    display: inline-block;
  }
  img{
    cursor: pointer;
    float: right;
    display: inline-block;
  }
}
.email-bind-key{
  text-align: center;
  img{
    width: 64px;
    height: 64px;
    display: inline-block;
  }
}
.email-bind-input-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    font-size: 16px;
    color: $theme-color;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    margin-bottom: 10px;
  }
  .email-bind-input{
    margin-bottom: 30px;
    position: relative;
  }
  .email-bind-pl, .email-bind-vl{
    width: 50px;
    height: 36px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: $theme-color;
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
  }
  .email-bind-ip{
    text-indent: 12px;
    width: 300px;
    height: 36px;
    border: 1px solid #d0d6de;
    outline: none;
  }
  .email-bind-vc-wrap{
    position: absolute;
    top: 5px;
    right: 5px;
    .email-bind-vc-ref{
      width: 18px;
      height: 18px;
      display: inline-block;
      background-image: url('../images/sx01.png');
      background-repeat: no-repeat;
      transition: transform .3s;
      background-size: 100%;/*保证背景图片完全填充*/
      cursor: pointer;
      &:hover{
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        background-image: url('../images/sx02.png');
      }
    }
    .email-bind-vc{
      width: 66px;
      height: 28px;
    }
  }
  .email-bind-btn-wrap{
    margin: 0 auto 30px auto;
    .email-bind-btn{
      display: inline-block;
      font-size: 16px;
      width: 66px;
      height: 30px;
      font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
      border-radius: 18px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
    }
    .bind-htn-y{
      color: #fff;
      background-color: $theme-color;
      margin-right: 30px;
    }
    .bind-btn-n{
      color: $theme-color;
      border: 1px solid $theme-color;
    }
  }
}

.email-bind-show{
  .email-bind-address-wrap{
    margin-top: 30px;
  }
  .email-bind-address-d{
    margin-bottom: 30px;
  }
  .email-bind-address-tit{
    width: 140px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    color: $theme-color;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
  }
  .email-bind-address{
    display: inline-block;
    vertical-align: middle;
    input{
      width: 300px;
      height: 36px;
      outline: none;
      border: 1px solid #d0d6de;
      text-indent: 12px;
    }
  }
  .email-bind-address-btn{
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    display: inline-block;
    .email-bind-y{
      display: inline-block;
      width: 66px;
      line-height: 30px;
      color: #fff;
      background-color: $theme-color;
      text-align: center;
      border-radius: 18px;
      cursor: pointer;
      margin-right: 30px;
    }
    .email-bind-n{
      display: inline-block;
      width: 66px;
      line-height: 30px;
      color: $theme-color;
      border: 1px solid $theme-color;
      text-align: center;
      border-radius: 18px;
      cursor: pointer;
    }
  }
}

.password-c-wrap{
  .password-c-top{
    margin: 10px 20px;
    span{
      line-height: 32px;
      font-size: 16px;
      font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
      color: $theme-color;
      float: left;
      display: inline-block;
    }
    img{
      cursor: pointer;
      float: right;
      display: inline-block;
    }
  }
  .password-c-raw-wrap{
    margin-top: 30px;
  }
  .password-c-tit{
    width: 140px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    color: $theme-color;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
  }
  .password-c-i{
    display: inline-block;
    vertical-align: center;
    position: relative;
    input{
      width: 300px;
      height: 36px;
      outline: none;
      border: 1px solid #d0d6de;
      text-indent: 16px;
    }
  }
  .password-c-btn{
    font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
    display: inline-block;
    .password-c-y{
      display: inline-block;
      width: 66px;
      line-height: 30px;
      color: #fff;
      background-color: $theme-color;
      border-radius: 18px;
      cursor: pointer;
      margin-right: 30px;
      text-align: center;
    }
    .password-c-n{
      display: inline-block;
      width: 66px;
      line-height: 30px;
      color: $theme-color;
      border-radius: 18px;
      cursor: pointer;
      text-align: center;
      border: 1px solid $theme-color;
    }
  }
  .password-c-raw-s{
    margin: 30px 0;
  }
}

.pop-hint-p{
  font-size: 14px;
  color: #FF2435;
  opacity:0;
  position: absolute;
  top:10%;
  left: 2px;
  text-indent: 16px;
  display: flex;
  align-items: center;
  height: 80%;
  background-color: #fff;/*遮盖住原来的input框*/
}
.pop-hint-active{
  opacity:1;
  transition: opacity .3s;/*动画渲染展示*/
}

/*
*用户设置头像样式
*/
.user-set-wrap{
   .user-img-left-wrap{
     float: left;
     width: 114px;
     height: 114px;
     position: relative;
     border-radius: 50%;
     cursor: pointer;
     overflow: hidden;
     background-color: #9199A1;
     .user-set-img{
       width: 100%;
       height: 100%;
       display: block;
     }
     .user-img-camera-wrap{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       .camera-img-wrap{
         text-align: center;
         .camera-img{
           display: inline-block;
         }
         .camera-tit{
          margin: 5px 0;
           font-size: 14px;
         }
       }
     }
   }
  .user-img-right-wrap{
    margin-left: 114px;
    .user-nick-wrap{
      margin-bottom: 30px;
      .nick-p{
        width: 120px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 14px;
        font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
        em{
          color: #FF2435;
          margin-right: 5px;
        }
      }
      .nick-i-w{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-left: 20px;
        .nick-i{
          width: 584px;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #9199A1;
          text-indent: 16px;
          outline: none;
          font-size: 14px;
          font-family: "Microsoft YaHei", "Arial", "黑体", sans-serif;
        }
        .nick-i-hint{
          position: absolute;
          height: 80%;
          top: 10%;
          left: 2px;
          font-size: 14px;
          text-indent: 16px;
          opacity:0;
          background-color: #fff;
          display: flex;
          align-items: center;
          color: #FF2435;
          p{
            margin-bottom: 0;
          }
        }
        .nick-i-active{
          opacity:1 !important;
          transition: opacity .3s;
        }
      }
    }
    .s-set-btn{
      width: 90px;
      font-size: 16px;
      line-height: 30px;
      color: #fff;
      background-color: $theme-color;
      border-radius: 20px;
      border: 1px solid $theme-color;
      outline: none;
    }
    .user-name-wrap{
      margin-bottom: 30px;
    }
  }
}

.upload-am-dialog{
  border-radius: 5px !important;
}
.uploader-header-wrap{
  height: 50px;
  line-height: 50px;
  padding: 0 !important;
  border-bottom: 1px solid #C7DAE1;
  span{
    display: inline-block;
    float: left;
    font-size: 16px;
    margin-left: 10px;
    color: $theme-color;
  }
  a{
    top: 10px !important;
  }
}
.upload-am-main{
  padding: 20px !important;
  .img-pre-show{
    width: 320px;
    height: 320px;
    background: #fcfcfc;
    border: 1px solid #e3e3e3;
    float: left;
    margin-bottom: 20px;
    border-radius: 5px;
    img{
      width: 100%;
    }
  }
  .img-after-show{
    width: 160px;
    min-width: 160px;
    height: 160px;
    min-height: 160px;
    float: right;
    background: #fcfcfc;
    overflow: hidden;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .up-img-action-g{
    margin: 20px 0;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .up-img-t-w{
      position: relative;
      text-align: left;
      .up-img-btn{
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        background-color: #e6e6e6;
        border: none;
        color: #444;
      }
      .up-img-file{
        position: absolute;
        line-height: 16px;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 11;
        width: 100%;
        display: inline-block;
        cursor: pointer;
      }
    }
    .up-img-a-w{
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 16px;
      .up-img-a-l, .up-img-a-r, .up-img-a-s{
        height: 100%;
        width: 16px;
      }
      .up-img-a-l-i, .up-img-a-r-i, .up-img-a-s-i{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

